<ion-header>
  </ion-header>
  
  <ion-content>
    <div class="contEscaner">
      <div class="mont-cont">
          <img class="img-scan" src="/assets/img/can.png" alt="" width="250px">
          <img class="mont" src="/assets/img/montains.png" alt="" width="100%">
          <div class="glovo">
            <p>Lamento que tuvieras que retirarte del reto, espero que pronto regresemos para demostrar de que estamos hechos.</p>
          </div>
      </div>
      <div class="conBtn">
        <button class="btn" (click)="scanear()">Aceptar</button>
      </div>
    </div>
  </ion-content>
  