<ion-header>
  
</ion-header>

<ion-content>
  <div class="head">
      <img src="/assets/img/lugares.png" alt="">
  </div>

  <ion-card>
    <div class="content-card">
      <img class="img-card" src="/assets/img/amatitlan.jpg" />
      <h2 class="text-card">Amatitlán</h2>
    </div>  
    <ion-card-content class="justi">
        Amatitlán es uno de los 340 municipios de la república de guatemala y pertenece en el departamento de guatemala. Tiene una extinción de alrededor de 329 kilometros cuadrados y esta integrada por una ciudad 7 barrios, 14 aldeas 5 caseríos y un canton. su clima es templado y su fiesta titular se celebra el 24 de junio, fecha de la fundación de la ciudad en honor de san Juan bautista. 
    </ion-card-content>  
    <div style="display: contents;">
      <div class="tarjetas">       
        <div class="tarjeta" (click)="pr(1)">
          <div class="tarjeta_img filon">
            <div class="degradado"></div>
          </div>
          <div class="info_tarjeta">
            <div class="cont_stars">
              <div class="estrellas">
                <p>4.1</p>
                <ion-icon class="estrella_icon" name="star"></ion-icon>
              </div>
            </div>
            <div class="titulo-text">
              <h2>Montaña el filon</h2>
            </div>
          </div>
        </div>
        <div style="width: 10vw;"></div>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div class="content-card">
      <img class="img-card" src="/assets/img/pana.jpg" />
      <h2 class="text-card">Panajachel</h2>
    </div>  
    <ion-card-content class="justi">
      Panajachel es uno de los 340 municipios de Guatemala y es parte del departamento de Sololá. tiene una extensión territorial de 22 kilómetros cuadrados, su clima es frió y su fiesta titular se celebra en honor al santo patrono san Francisco de Asís.
    </ion-card-content>
    
    <div style="display: contents;">
      <div class="tarjetas">
        
        <div class="tarjeta" (click)="pr(2)">
          <div class="tarjeta_img rostrom">
            <div class="degradado"></div>
          </div>
          <div class="info_tarjeta">
            <div class="cont_stars">
              <div class="estrellas">
                <p>4.5</p>
                <ion-icon class="estrella_icon" name="star"></ion-icon>
              </div>
            </div>
            <div class="titulo-text">
              <h2>Mirador rostro maya</h2>
            </div>
          </div>
        </div>
        <div style="width: 10vw;"></div>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div class="content-card">
      <img class="img-card" src="/assets/img/palin.jpg" />
      <h2 class="text-card">Palín</h2>
    </div>  
    <ion-card-content class="justi">
      Palín es uno de los 340 municipios de Guatemala y es parte del departamento de Escuintla.  tiene una extensión territorial de 84 kilómetros cuadrados, su clima es frió y su fiesta titular se celebra del 27 al 30 de julio en honor a san Cristobal. 
    </ion-card-content>  
    <div style="display: contents;">
      <div class="tarjetas">       
        <div class="tarjeta" (click)="pr(3)">
          <div class="tarjeta_img mirandilla">
            <div class="degradado"></div>
          </div>
          <div class="info_tarjeta">
            <div class="cont_stars">
              <div class="estrellas">
                <p>4.0</p>
                <ion-icon class="estrella_icon" name="star"></ion-icon>
              </div>
            </div>
            <div class="titulo-text">
              <h2>Cerro mirandilla</h2>
            </div>
          </div>
        </div>
        <div style="width: 10vw;"></div>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div class="content-card">
      <img class="img-card" src="/assets/img/escuintla.jpg" />
      <h2 class="text-card">Escuintla</h2>
    </div>  
    <ion-card-content class="justi">
      Es un departamento de la república de Guatemala situado en la región sur del país, tiene una extensión territorial de 24,384 kilómetros cuadrados.  La temperatura habitual es cálido tropical.  Su fiesta titular se celebra el 8 de diciembre en honor de la inmaculada concepción. 
    </ion-card-content>  
    <div style="display: contents;">
      <div class="tarjetas">       
        <div class="tarjeta" (click)="pr(4)">
          <div class="tarjeta_img fuego">
            <div class="degradado"></div>
          </div>
          <div class="info_tarjeta">
            <div class="cont_stars">
              <div class="estrellas">
                <p>4.7</p>
                <ion-icon class="estrella_icon" name="star"></ion-icon>
              </div>
            </div>
            <div class="titulo-text">
              <h2>Volcan de fuego</h2>
            </div>
          </div>
        </div>
        <div style="width: 10vw;"></div>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div class="content-card">
      <img class="img-card" src="/assets/img/acatenango.jpg" />
      <h2 class="text-card">Acatenango</h2>
    </div>  
    <ion-card-content class="justi">
      Acatenango es uno de los 340 municipios de Guatemala y es parte del departamento de Chimaltenango.  tiene una extensión territorial de 172 kilómetros cuadrados, su clima es frió y su fiesta titular se celebra del 10 al 15 de junio en honor a san Bernabé patrono del pueblo. 
    </ion-card-content>  
    <div style="display: contents;">
      <div class="tarjetas">       
        <div class="tarjeta" (click)="pr(5)">
          <div class="tarjeta_img acate">
            <div class="degradado"></div>
          </div>
          <div class="info_tarjeta">
            <div class="cont_stars">
              <div class="estrellas">
                <p>4.7</p>
                <ion-icon class="estrella_icon" name="star"></ion-icon>
              </div>
            </div>
            <div class="titulo-text">
              <h2>Volcan de acatenango</h2>
            </div>
          </div>
        </div>
        <div style="width: 10vw;"></div>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div class="content-card">
      <img class="img-card" src="/assets/img/sanVicente.jpg" />
      <h2 class="text-card">San Vicente pacaya</h2>
    </div>  
    <ion-card-content class="justi">
      San Vicente es uno de los 340 municipios de Guatemala y es parte del departamento de Escuintla.  tiene una extensión territorial de 236 kilómetros cuadrados, su clima es templado y su fiesta titular se celebra del 22 de enero en honor a sanVicente Martir. 
    </ion-card-content>  
    <div style="display: contents;">
      <div class="tarjetas">       
        <div class="tarjeta" (click)="pr(6)">
          <div class="tarjeta_img pacaya">
            <div class="degradado"></div>
          </div>
          <div class="info_tarjeta">
            <div class="cont_stars">
              <div class="estrellas">
                <p>4.5</p>
                <ion-icon class="estrella_icon" name="star"></ion-icon>
              </div>
            </div>
            <div class="titulo-text">
              <h2>Volcan de pacaya</h2>
            </div>
          </div>
        </div>
        <div style="width: 10vw;"></div>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div class="content-card">
      <img class="img-card" src="/assets/img/peten.jpg" />
      <h2 class="text-card">Peten</h2>
    </div>  
    <ion-card-content class="justi">
      Peten es uno de los 22 departamentos de la república de Guatemala situado en la región norte del país, tiene una extensión territorial de 35,854 kilómetros cuadrados.  La temperatura habitual es cálido tropical.  Su fiesta titular se celebra el 11 y 12 de diciembre en honor a la virgen de Guadalupe. 
    </ion-card-content>  
    <div style="display: contents;">
      <div class="tarjetas">       
        <div class="tarjeta" (click)="pr(7)">
          <div class="tarjeta_img puente">
            <div class="degradado"></div>
          </div>
          <div class="info_tarjeta">
            <div class="cont_stars">
              <div class="estrellas">
                <p>4.2</p>
                <ion-icon class="estrella_icon" name="star"></ion-icon>
              </div>
            </div>
            <div class="titulo-text">
              <h2>Puente de Ixpanpajul</h2>
            </div>
          </div>
        </div>
        <div style="width: 10vw;"></div>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div class="content-card">
      <img class="img-card" src="/assets/img/senahu.jpg" />
      <h2 class="text-card">Senahu</h2>
    </div>  
    <ion-card-content class="justi">
      Senahú es uno de los 340 municipios de Guatemala y es parte del departamento de Alta Verapaz.  tiene una extensión territorial de 336 kilómetros cuadrados, su clima es templado y su fiesta titular se celebra el 13 de junio en honor a san Antonio de Padua. 
    </ion-card-content>  
    <div style="display: contents;">
      <div class="tarjetas">       
        <div class="tarjeta" (click)="pr(8)">
          <div class="tarjeta_img bombil">
            <div class="degradado"></div>
          </div>
          <div class="info_tarjeta">
            <div class="cont_stars">
              <div class="estrellas">
                <p>4.6</p>
                <ion-icon class="estrella_icon" name="star"></ion-icon>
              </div>
            </div>
            <div class="titulo-text">
              <h2>Cuevas de bombil pek</h2>
            </div>
          </div>
        </div>
        <div style="width: 10vw;"></div>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div class="content-card">
      <img class="img-card" src="/assets/img/boqueron.jpg" />
      <h2 class="text-card">El Estor</h2>
    </div>  
    <ion-card-content class="justi">
      El Estor es uno de los 340 municipios de Guatemala y es parte del departamento de Izabal.  tiene una extensión territorial de 2896 kilómetros cuadrados, su clima es caliente y su fiesta titular se celebra del 26 al 29 de junio en honor a san Pedro y san Pablo.
    </ion-card-content>  
    <div style="display: contents;">
      <div class="tarjetas">       
        <div class="tarjeta" (click)="pr(9)">
          <div class="tarjeta_img caxlampon">
            <div class="degradado"></div>
          </div>
          <div class="info_tarjeta">
            <div class="cont_stars">
              <div class="estrellas">
                <p>4.5</p>
                <ion-icon class="estrella_icon" name="star"></ion-icon>
              </div>
            </div>
            <div class="titulo-text">
              <h2>Cuevas de caxlampon</h2>
            </div>
          </div>
        </div>
        <div style="width: 10vw;"></div>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <div class="content-card">
      <img class="img-card" src="/assets/img/smd.jpg" />
      <h2 class="text-card">San Miguel Dueñas</h2>
    </div>  
    <ion-card-content class="justi">
      San Miguel Dueñas es uno de los 340 municipios de Guatemala y es parte del departamento de Sacatepeques.  tiene una extensión territorial de 35 kilómetros cuadrados, su clima es templado y su fiesta titular se celebra el 29 de Septiembre en honor a al Arcángel san Miguel.
    </ion-card-content>  
    <div style="display: contents;">
      <div class="tarjetas">       
        <div class="tarjeta" (click)="pr(0)">
          <div class="tarjeta_img rinconada">
            <div class="degradado"></div>
          </div>
          <div class="info_tarjeta">
            <div class="cont_stars">
              <div class="estrellas">
                <p>4.3</p>
                <ion-icon class="estrella_icon" name="star"></ion-icon>
              </div>
            </div>
            <div class="titulo-text">
              <h2>Catarata la rinconada</h2>
            </div>
          </div>
        </div>
        <div style="width: 10vw;"></div>
      </div>
    </div>
  </ion-card>

</ion-content>
