<ion-header>
</ion-header>

<ion-content>
  <div class="contEscaner">
    <div class="mont-cont">
        <img class="img-scan" src="/assets/img/explo.png" alt="" width="250px">
        <img class="mont" src="/assets/img/montains.png" alt="" width="100%">
        <div class="glovo">
          <p>Antes de empezar una aventura recuerda revisar si tienes todo lo necesario</p>
        </div>
    </div>
    <div class="conBtn">
      <button class="btn" (click)="scanear()">Iniciar aventura</button>
    </div>
  </div>
</ion-content>
